<div style="text-align: center;              " >
 <!-- <img style="width: 50%;" src="img/p1.jpg" alt="">   -->
<div >
    <div id="main" style="border-bottom: solid 4px green;  border-top: solid 4px green;" >
      <div id="carousel" style="text-align: center;"  class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img   src="/img/PEPTILAGEN CAJA1.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/PEPTILAGEN CAJA3.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/PEPTILAGEN CARA 82195.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/PEPTILAGEN SACHET 82105.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/PEPTILAGEN SACHET1.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/PEPTILAGEN SACHET3.png" >
          </div>
           <div class="carousel-item">
            <img  src="img/22.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/3-1.png" >
          </div>
          <div class="carousel-item">
            <img  src="img/11.png" >
          </div>
                    <div class="carousel-item">
            <img  src="img/ejemplo.png" >
          </div>
           <div class="carousel-item">
            <img  src="img/ejemplo1.png" >
          </div>

 

 
        </div>

      </div>

<div >
<!--
    <section id="speakers" class="mt-4">
      <div class="container">
      <div class="boxesContainer1">
        <div></div>
        <div><img style="width: 80%"  src="img/LOGO OPRAZOL.png" ></div>
        <div><img style="width: 50%" src="img/logos Don-02.png" >        </div>
        <div><img style="width: 80%" src="img/OPRAZOL_Mesa de trabajo 1.png" ></div>
        <div><img style="width: 80%" src="img/LOGO ETROZIT PNG.png" ></div>
        <div><img style="width: 80%" src="img/LOGO FLUKIT MARCA (2).png" ></div>
        <div><img style="width: 80%" src="img/PROFINAL ALIVIO.png" ></div>

      </div>
      </div>
    </section>-->
</div>

        <div class="container">

               <a class="btn btn btn-success btn-block" href="/auth/signin">Aminate, participa, Juega y GANA</a>
               <br><br>
        </div>
