

  <div  style="text-align: center;">
    <div class="text-center text-white">
          <h1 style="font-size: 2vw; color: black"  >Bienvenido {{name}} {{tip}}</h1>
         
          <h2 style="font-size: 1.8vw; color: green"  >Tu Puntuacion es: {{score}} </h2>
    <br>
    <br>
    </div>
    <div>
      <a class="botonimagen1" href="/juego/juego"></a>
      <p style="font-size: 2vw; color: black">Vamos a Jugar</p>
      <br><br>

  </div>

